


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #2c2c2c;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* About Section */
.Aboutbody{
    padding: 0;
    margin: 0;
   background: url('IMG-20250208-WA0078.jpg') no-repeat center center fixed;
   background-size: 100%;
   font-family: Arial, sans-serif;
}
.aboutcontainer{
background: rgba(211,211,211,0.7);
color: #0f0101;
padding: 20px;
max-width: 600px;
margin: 50px auto;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


/* Contact Section */
.contact {
    padding: 50px;
    background: #2c2c2c;
    color: white;
    text-align: center;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
        background: url('IMG-20250208-WA0077.jpg') ;
        background-size: contain;
        font-family: Arial, sans-serif;

    
}

.product {
    background-color: #ebdede;
    border: none solid #0f0101;
    border-radius: 10px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 25%;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

